.saved-palettes-container-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5vw;

}


@media screen and (max-width: 1000px){  
    .saved-palettes-container-footer{
        padding-right: 5px;
    }
    
}