.copy-success-overlay {
    background-color: var(--black);
    color: var(--white);
    position: fixed; 
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%); 
    padding: 10px;
    border: 0.1vw solid var(--white);
    margin-bottom: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border-radius: 1vw;
  }

  .message-container{
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
  }

  .note-icon{
    width: 1.4vw;
    height: auto;
  }

  @media screen and (max-width: 1000px){  
  
    .copy-success-overlay {
      border: 1px solid var(--white);
      margin-bottom: 60px;
      border-radius: 10px;
    }
  
    .message-container{
      gap: 10px;
    }

    .note-icon{
      width: 14px;
      height: auto;
    }
}