.user-detail-seg{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: flex-start;
    border: 0.1vw solid var(--black);
    border-radius: 1vw;
    padding: 2vw;
}

.user-details-input{
    width: 100%;
    padding: 1.5vw 1vw;
}

.user-detail-submit{
    align-self: flex-end;
}

.password-input-section{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5vw;
    width: 100%;
}

.error-update-password{
    color: #EA481F;
    margin-top: 6vw;
    position: absolute;
  }

  .label-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
  }

@media screen and (max-width: 1000px){  

    .user-detail-seg{
        gap: 20px;
        border: 1px solid var(--black);
        border-radius: 10px;
        padding: 20px;
    }
    
    .user-details-input{
        padding: 15px 10px;
    }

    .password-input-section{
        gap: 5px;
    }
    
    .error-update-password{
        margin-top: 60px;
      }
  }