.panel{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.panel-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.panel-icon-container{
    padding: 0.5vw;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .panel-icon-container:hover{
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

.move:hover{
    cursor: grab;
}

.panel-icon{
    width: 2vw;
    height: auto;
}

.hex-display{
    padding: 0.5vw;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .hex-display:hover{
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

.color-picker-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.color-picker{
    background-color: var(--black);
    padding: 15px;
    border: 0.12vw solid var(--white);
    color: var(--white);
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .custom-hex-input {
    border: 0.12vw solid var(--white);
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.1vw;
    height: 30px;
    width: 200px;
  }

  .color-picker-controlls{
    display: flex;
    justify-content: space-around;
    width: 200px;
  }

@media screen and (max-width: 1000px){  
    .panel-icon{
        width: 20px;
    }
    .panel-icon-container{
        padding: 5px;
        border-radius: 10px;
    }

    .custom-hex-input {
        border: 1.2px solid var(--white);
        font-size: 11px;
      }
  }