.panel{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.panel-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.panel-icon-container{
    padding: 0.5vw;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .panel-icon-container:hover{
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

.panel-icon{
    width: 2vw;
    height: auto;
}

.hex-display{
    padding: 0.5vw;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .hex-display:hover{
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

@media screen and (max-width: 1000px){  
    .panel-icon{
        width: 20px;
    }
    .panel-icon-container{
        padding: 5px;
        border-radius: 10px;
    }
  }