.interface-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 11.1vw);
    overflow: auto;
}

@media screen and (max-width: 1000px){  
  
    .interface-container{
        height: calc(100vh - 110px);
    }

  }

  @media screen and (max-width: 525px){  
    .interface-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: calc(100vh - 110px);
        overflow:hidden;
    }
  }