.interface-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 9.24vw);
    overflow: auto;
}

@media screen and (max-width: 1000px){  
  
    .interface-container{
        height: calc(100vh - 92.4px);
    }

  }