.my-palettes-icon-container{
    display: flex;
    gap: 0.1vw;
    align-items: center;
}

.Mypalettes-container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1000px){  
    .my-palettes-icon-container{
        gap: 1px;
    }
}