footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 0 3vw;
    background: var(--white);
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    border-top: 0.12vw solid;
    height: 3.5vw ;
    margin-top: auto;
  }
  
  @media screen and (max-width: 1000px){  
  
    footer {
        height: 35px ;
        border-top: solid 1.2px;
      }

  }