*,
*::before,
*::after {
box-sizing: border-box;
}

:root {
  --white: #FCF7FF;
  --black: #261C15;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

a{
  text-decoration: none;
  color: inherit;
}

p{
  padding: 0;
  margin: 0;
}

.large-copy{
  font-size: 4vw;
}

.med-copy{
  font-size: 1.8vw;
}

.small-copy{
  font-size: 1.3vw;
}

.bold{
  font-weight: 700;
}

.gradient-text {
  background: linear-gradient(-45deg, #FF007F, #5438DC);
  background-clip: text;
  color: transparent; 
  display: inline-block;
  transition: background-clip 0.5s ease-in-out;
}

.gradient-border {
  border: 0.2vw solid; 
  border-image: linear-gradient(-45deg, #FF007F, #5438DC) 1;
  display: inline-block;
  transition: border-image 0.8s ease-in-out;
}

.button{
  padding: 0.3vw 0.5vw;
  border-radius: 0.5vw;
  font-weight: 500;
}
  .button:hover{
    border-image: linear-gradient(45deg, #FF007F, #5438DC) 1;
  }

@media screen and (max-width: 1000px){  
  
  .large-copy{
    font-size: 40px;
  }
  
  .med-copy{
    font-size: 18px;
  }
  
  .small-copy{
    font-size: 13px;
  }
}