*,
*::before,
*::after {
box-sizing: border-box;
}

:root {
  --white: #FCF7FF;
  --black: #261C15;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--black);
}

a{
  text-decoration: none;
  color: inherit;
}

p{
  padding: 0;
  margin: 0;
}

h2{
  padding: 0;
  margin: 0;
  font-weight: 800;
}

.large-copy{
  font-size: 2.5vw;
}

.med-copy{
  font-size: 1.7vw;
}

.small-copy{
  font-size: 1.3vw;
}

.small-print{
  font-size: 1.1vw;
}

.tiny-print{
  font-size: 0.9vw;
}

.bold{
  font-weight: 700;
}

.down-gap{
  padding-bottom: 0.6vw;
}

.error{
  color: #EA481F;
  margin-top: -0.5vw;
}

.red{
  color: #EA481F;
}

.gradient-text {
  background: linear-gradient(-45deg, #FF007F, #5438DC);
  background-clip: text;
  color: transparent; 
  display: inline-block;
  font-weight: 500;
}

.dark{
  color: var(--white);
  background-color: var(--black);
}

.grey{
  opacity: 0.6;
}

input:focus {
  outline: none; 
  box-shadow: none; 
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.unnactive{
  opacity: 0.4;
}
  .unnactive:hover{
    cursor: default !important;
    font-weight: 400 !important;
    background-color: transparent !important;
  }

  input {
    border: 0.12vw solid var(--black);
    background: transparent;
    height: 2.5vw;
    width: 15vw;
    font-size: 1.1vw;
    padding: 0 0.5vw;
  }

  :is(input[type="button"], input[type="submit"], button) {
    width: 6vw;
    background-color: var(--black);
    color: var(--white);
    border-radius: 1vw;
    border: 0.12vw solid var(--black);
    margin-top: 0.5vw;
  }
  :is(input[type="button"], input[type="submit"], button):hover {
    background-color: var(--white);
    color: var(--black);
    border: 0.12vw solid var(--black);
    cursor: pointer;
  }


@media screen and (max-width: 1000px){  
  
  .large-copy{
    font-size: 25px;
  }
  
  .med-copy{
    font-size: 18px;
  }
  
  .small-copy{
    font-size: 13px;
  }

  .small-print{
    font-size: 11px;
  }

  .tiny-print{
    font-size: 9px;
  }
  
  input {
    border: 1.2px solid var(--black);
    font-size: 11px;
    padding: 0 5px;
    height: 25px;
    width: 150px;
  }

  :is(input[type="button"], input[type="submit"], button) {
    width: 60px;
    border-radius: 10px;
    border: 1.2px solid var(--black);
    margin-top: 5px;
  }
  :is(input[type="button"], input[type="submit"], button):hover {
    border: 1.2px solid var(--black);
    cursor: pointer;
  }

  .error{
    margin-top: 5px;
  }
  
  
}