nav{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0 3vw;
    background: var(--white);
    margin: 0;
    border-bottom: 0.1vw solid;
    z-index: 2;
}

.nav-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vw;
}

.nav-right{
    display: flex;
    gap: 2vw;
    align-items: center;
}

.navlink{
    font-weight: 400;
}

.navlink:hover{
    text-decoration: underline;
    text-underline-offset: .4vw;
}

.grey.navlink:hover{
    font-weight: 400;
    text-decoration: none;
}


.mobile-menu-icon-container{
    display: none !important; 
}

.v-line{
    height: 4vw;
    width: .1vw;
    background-color: var(--black);
}

@media screen and (max-width: 1000px){  
  
    nav{
        padding: 0 30px;
        border-bottom: solid 1px;
        position: fixed;
    }
    
    .nav-right{
        gap: 20px;
    }

    .nav-bar-container{
        height: 40px;
    }

    .v-line{
        height: 40px;
        width: 1px;
    }

    .navlink:hover{
        text-decoration: underline;
        text-underline-offset: 4px;
    }

  }

  

  @media screen and (max-width: 750px){  

    .nav-right{
        display: none;
    }

    .mobile-menu-icon-container{
        display: flex !important;
    }

    .greeting{
        display: none;
    }
    
  }