nav{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0 3vw;
    background: var(--white);
    margin: 0;
    border-bottom: 0.1vw solid rgba(38, 28, 21, 0.1);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vw;
}

.nav-right{
    display: flex;
    gap: 2vw;
    align-items: center;
}

.navlink{
    font-weight: 400;
    padding: 0.5vw 0.75vw;
    border-radius: 1vw;
}

.navlink:hover{
    background-color: rgba(38, 28, 21, 0.1);
}

.grey.navlink:hover{
    background-color: var(--white);
}


.mobile-menu-icon-container{
    display: none !important; 
}

.v-line{
    height: 4vw;
    width: .1vw;
    background-color: rgba(38, 28, 21, 0.1);
}

@media screen and (max-width: 1000px){  
  
    nav{
        padding: 0 30px;
        border-bottom: solid 1px rgba(38, 28, 21, 0.1);
        position: fixed;
        height: 40px;
    }
    
    .nav-right{
        gap: 20px;
    }

    .v-line{
        height: 40px;
        width: 1px;
    }

    .navlink:hover{
        background-color: rgba(38, 28, 21, 0.1);
    }

    .navlink{
        padding: 5px 7.5px;
        border-radius: 10px;
    }

  }

  

  @media screen and (max-width: 750px){  

    .nav-right{
        display: none;
    }

    .mobile-menu-icon-container{
        display: flex !important;
    }

    .greeting{
        display: none;
    }
    
  }